/*
CSS File

Sections are as follow:

Globals
Header
Footer
Main
Shop
About Us
Contact Us
*/ 


/*                                        
 #     #                                    
 #     # ######   ##   #####  ###### #####  
 #     # #       #  #  #    # #      #    # 
 ####### #####  #    # #    # #####  #    # 
 #     # #      ###### #    # #      #####  
 #     # #      #    # #    # #      #   #  
 #     # ###### #    # #####  ###### #    #    
*/

body {
  background-color: rgb(12, 12, 12);
  background-image: url('./pics/Q2.svg');
  background-size: cover; /* Resize the background image to cover the entire container */
  font-family: 'Ubuntu', sans-serif;
  color: rgb(86, 83, 83);
  text-align: justify;
  padding-top: 1em;
}

button {
  background-color: gray;
  border: 2px solid wheat;
  border-radius: 10px;
}

#header {
  display: flex;
  flex-direction: column;
  background-color: rgb(12, 12, 12);
  width: 100%;
  top: 0;
  position: fixed;
  z-index: 10;
}

.signAndLogo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-self: center;
  border-radius: 10px;
  width: 90%;
  height: 4.5em;
  padding-top: 1em;
}

.signAndLogo .q2Logo, .V1 .q2Logo {
  border: 0.25em solid green;
  border-radius: 50%;
  width: 5em;
  height: 5em;
  align-self: center;
}

.signBtns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 40%;
}

.signBtns button {
  width: 9em;
}

.line1 {
  border: 2px dashed gray;
  align-self: center;
  width: 90%;
}

.line2 {
  border: 1px dashed wheat;
  align-self: center;
  width: 90%;
}

.nav {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-self: center;
  width: 50%;
  height: 3em;
}

.navBtns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#shoppingCart {
  width: 3em;
  height: 3em;
  border-radius: 10px;
  border: 0.25em solid wheat;
}

.navBtns button {
  width: 10em;
  height: 3em;
  text-align: center;
  font-size: 25;
}

.container-fluid ul {
  width: 50%;
}

.messages {
  align-self: center;
  font-family: 'Ubuntu', sans-serif;
  color: rgb(193, 82, 82);
  border: 2px solid rgb(193, 82, 82);
  border-radius: 10px;
  width: 90%;
}

/*                                
 #######                                   
 #        ####   ####  ##### ###### #####  
 #       #    # #    #   #   #      #    # 
 #####   #    # #    #   #   #####  #    # 
 #       #    # #    #   #   #      #####  
 #       #    # #    #   #   #      #   #  
 #        ####   ####    #   ###### #    #    
*/
     
footer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

footer .footer {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: space-around;
  align-items: center;
  height: 5em;
  padding-top: 1em;
}

footer p {
  align-self: center;
}

/*                      
 #     #                 
 ##   ##   ##   # #    # 
 # # # #  #  #  # ##   # 
 #  #  # #    # # # #  # 
 #     # ###### # #  # # 
 #     # #    # # #   ## 
 #     # #    # # #    # 
*/

.container {
  margin-top: 11em;
  text-align: center;
}

.welcome {
  text-align: center;
  font-size: 2.5em;
  color: wheat;
}

.q2Logo {
  width: 15em;
  height: 15em;
  border-radius: 10px;
  border: 2px solid black;
  margin: 1em;
}

.homeImgs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.itemCardSlide {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.itemCardSlide i {
  color: wheat;
  z-index: 10;
  -webkit-text-stroke: 2px black; /* width and color */
  width: 10%;
}
.itemCardSlide i:hover {
  color: aquamarine;
}


/*
  #####                       
 #     # #    #  ####  #####  
 #       #    # #    # #    # 
  #####  ###### #    # #    # 
       # #    # #    # #####  
 #     # #    # #    # #      
  #####  #    #  ####  #       
*/ 

.itemCards {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 180%;
  align-self: center;
}

.itemCards img {
  width: 20em;
  height: 20em;
  border-radius: 10px;
  border: 2px solid wheat;
  margin: 1em;
}

.item {
  border: 0.25em dashed wheat;
  border-radius: 10px;
  padding: 1em;
  height: 25%;
  width: 25%;
  color: wheat;
  font-size: 1.5em;
}

.item, .item .V2, .item .V5 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.item .V1, .item .V3, .item .V6, .V1 div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.V1 div {
  width: 20%;
  padding-right: 2em;
  justify-items: center;
  align-items: center;
  z-index: 0;
}

.item .V6 {
  width: 75%;
  align-self: center;
}

.shop {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  align-items: center;
  width: 90%;
}

.shop span {
  color: wheat;
  font-size: 3em;
  padding: 1em;
}

.gold, .silver, .premium {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1em;
}

.gold .H, .silver .H, .premium .H {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  padding: 1em;
}
                                          
/*
    #                                 #     #        
   # #   #####   ####  #    # #####   #     #  ####  
  #   #  #    # #    # #    #   #     #     # #      
 #     # #####  #    # #    #   #     #     #  ####  
 ####### #    # #    # #    #   #     #     #      # 
 #     # #    # #    # #    #   #     #     # #    # 
 #     # #####   ####   ####    #      #####   ####  
*/

.aboutUs {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 90%;
  color: wheat;
  text-align: justify;
  font-size: 2em;
  align-self: center;
  margin-left: 2em;
}

.aboutUs .aboutUsImg {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

/* 
  #####                                            #     #        
 #     #  ####  #    # #####   ##    ####  #####   #     #  ####  
 #       #    # ##   #   #    #  #  #    #   #     #     # #      
 #       #    # # #  #   #   #    # #        #     #     #  ####  
 #       #    # #  # #   #   ###### #        #     #     #      # 
 #     # #    # #   ##   #   #    # #    #   #     #     # #    # 
  #####   ####  #    #   #   #    #  ####    #      #####   ####  
*/

.contactUs {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.contactUs span, .info div {
  color: wheat;
  font-size: 3em;
  padding: 1em;
  align-self: center;
}

.info {
  width: 60%;
  text-align: justify;
  align-self: center;
  color: wheat;
}

.info div {
  display: flex;
  flex-direction: row;
  justify-content:space-evenly;
  align-items: center;
  width: 100%;
  font-size: 1em;
}

.info div div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 0.25px;
  width: 0.25px;
  border-radius: 50%;
  border: 2px solid black;
}