/*
CSS File

Sections are as follow:

Globals
Header
Footer
Main
Shop
About Us
Contact Us
*/ 


/*                                        
 #     #                                    
 #     # ######   ##   #####  ###### #####  
 #     # #       #  #  #    # #      #    # 
 ####### #####  #    # #    # #####  #    # 
 #     # #      ###### #    # #      #####  
 #     # #      #    # #    # #      #   #  
 #     # ###### #    # #####  ###### #    #    
*/

body {
  background-color: rgb(12, 12, 12);
  background-image: url('./pics/Q2.svg');
  background-size: cover; /* Resize the background image to cover the entire container */
  font-family: 'Ubuntu', sans-serif;
  color: rgb(86, 83, 83);
  text-align: justify;
  padding-top: 1em;
  margin: 0;
  padding: 0;
}

button {
  background-color: gray;
  border: 2px solid wheat;
  border-radius: 10px;
}

button:hover {
  border: 2px solid green;
}

#header {
  display: flex;
  flex-direction: column;
  background-image: radial-gradient(circle at 10% 10%, rgb(0, 0, 0),  rgb(255, 255, 255));
  border-bottom: 2px solid white;
  width: 100%;
  top: 0;
  position: fixed;
  z-index: 15;
}

.signAndLogo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-self: center;
  border-radius: 10px;
  width: 97.5%;
  height: 4.5em;
}

.signAndLogo .q2Logo, .V1 .q2Logo {
  border: 0.25em solid green;
  border-radius: 50%;
  width: 5em;
  height: 5em;
  align-self: center;
}

.signAndLogo .q2Logo {
  width: 11em;
  height: 11em;
  z-index: 50;
  margin-top: 8.5em;
}

.homeRose {
  position: absolute;
}

.signBtns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 40%;
  flex-wrap: wrap;
}

.signBtns button {
  width: 10em;
  font-size: 0.75em;
}

.line1 {
  border: 2px dashed gray;
  align-self: center;
  width: 90%;
}

.line2 {
  border: 1px dashed wheat;
  align-self: center;
  width: 90%;
}

.nav {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-self: center;
  width: 63%;
  height: 3em;
}

.navBtns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.d-flex button, .d-flex input {
  border-radius: 10px;
}

.d-flex button {
  background-color: gray;
  border: 2px solid black;
  color: white;
}

#shoppingCart {
  width: 3em;
  height: 3em;
  border-radius: 10px;
  border: 0.25em solid wheat;
}

.navBtns button {
  width: 7em;
  height: 2.5em;
  text-align: center;
  font-size: 1em;
}

.container-fluid ul {
  width: 50%;
}

.messages {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  top: 10.5em;
  width: 100%;
  height:fit-content;
  position: fixed;
  z-index: 0;
  padding: 1em;
}

.messages div {
  background-color: rgba(63, 61, 61, 0.8);
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
  font-size: 1em;
  border-radius: 10px;
  width: 90%;
  height: fit-content;
  margin-top: 1em;
}

/*                                
 #######                                   
 #        ####   ####  ##### ###### #####  
 #       #    # #    #   #   #      #    # 
 #####   #    # #    #   #   #####  #    # 
 #       #    # #    #   #   #      #####  
 #       #    # #    #   #   #      #   #  
 #        ####   ####    #   ###### #    #    
*/

    
footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  bottom: 0;
}

footer .footer {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: space-around;
  align-items: center;
  height: 5em;
  padding-top: 1em;
}

footer p {
  align-self: center;
}

/*                      
 #     #                 
 ##   ##   ##   # #    # 
 # # # #  #  #  # ##   # 
 #  #  # #    # # # #  # 
 #     # ###### # #  # # 
 #     # #    # # #   ## 
 #     # #    # # #    # 
*/

.container {
  margin-top: 12em;
  text-align: center;
}

.welcome {
  text-align: center;
  font-size: 2.5em;
  color: wheat;
}

.q2Logo {
  width: 15em;
  height: 15em;
  border-radius: 10px;
  border: 2px solid black;
  margin: 1em;
}

.homeImgs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.itemCardSlide {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.itemCardSlide i {
  color: wheat;
  z-index: 10;
  -webkit-text-stroke: 2px black; /* width and color */
  width: 10%;
}
.itemCardSlide i:hover, .sLeft:hover, .sRight:hover {
  color: aquamarine;
}

#slideL, #slideR {
  z-index: 5;
} 


/*
  #####                       
 #     # #    #  ####  #####  
 #       #    # #    # #    # 
  #####  ###### #    # #    # 
       # #    # #    # #####  
 #     # #    # #    # #      
  #####  #    #  ####  #       
*/ 

.itemCards {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  align-self: center;
}

.itemCards img, .itemPic img  {
  width: 20em;
  height: 20em;
  border-radius: 10px;
  border: 2px solid wheat;
  margin: 1em;
}

.item {
  border: 0.25em dashed grey;
  border-radius: 10px;
  height: 25%;
  width: 25%;
  color: black;
  font-size: 0.5em;
  background-color: bisque;
}

.item, .item .V2, .item .V5 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.item .V1, .item .V3, .item .V6, .V1 div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.V1 div {
  width: 20%;
  padding-right: 2em;
  justify-items: center;
  align-items: center;
  z-index: 0;
}

.item .V6 {
  width: 90%;
  align-self: center;
}

.V6 button {
  font-size: 1.2em;
  margin: 0.5em;
  background-color: gainsboro;
  color: black;
  border: 2px solid rgb(146, 139, 139);
}

.V6 button:hover {
  border: 2px solid green;
}

.shop {
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 100%;
}

.shop span {
  color: wheat;
  font-size: 3em;
}

.gold, .silver, .premium {
  display: flex;
  flex-direction: column;
}

.H {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.H div {
  padding: 0.5em;
  margin: 1em;
}

.item div span {
  font-size: 2em;
  color: gray;
}

.sLeft, .sRight {
  margin: 0.1em;
  color: wheat;
  -webkit-text-stroke: 2px black; /* width and color */
}
                                          
/*
    #                                 #     #        
   # #   #####   ####  #    # #####   #     #  ####  
  #   #  #    # #    # #    #   #     #     # #      
 #     # #####  #    # #    #   #     #     #  ####  
 ####### #    # #    # #    #   #     #     #      # 
 #     # #    # #    # #    #   #     #     # #    # 
 #     # #####   ####   ####    #      #####   ####  
*/

.homeBox .aboutUs {
  display: flex;
  flex-direction: column;
  color: wheat;
  text-align: justify;
  font-size: 2em;
  padding: 0 3em;
}

.aboutUs .aboutUsImg {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.aboutUs .aboutUsImg img {
  margin: 1em;
}

/* 
  #####                                            #     #        
 #     #  ####  #    # #####   ##    ####  #####   #     #  ####  
 #       #    # ##   #   #    #  #  #    #   #     #     # #      
 #       #    # # #  #   #   #    # #        #     #     #  ####  
 #       #    # #  # #   #   ###### #        #     #     #      # 
 #     # #    # #   ##   #   #    # #    #   #     #     # #    # 
  #####   ####  #    #   #   #    #  ####    #      #####   ####  
*/

.contactUs {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.contactUs span, .info div {
  color: wheat;
  font-size: 3em;
  padding: 1em;
  align-self: center;
}

.info {
  width: 60%;
  text-align: justify;
  align-self: center;
  color: wheat;
}

.info p {
  font-size: 1.5em;
}

.info div {
  display: flex;
  flex-direction: row;
  justify-content:space-evenly;
  align-items: center;
  width: 100%;
  font-size: 1.5em;
}

.info div div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 0.25px;
  width: 0.25px;
  border-radius: 50%;
  border: 2px solid black;
}

.info div div:hover {
  border-color: aqua;
}

/* 
MEDIA QUERIES to make the design responsive
======================================================
*/

@media only screen and (max-width: 1000px) {
  html body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    justify-items: center;
    height: inherit;
  }

  body #header {
    display: flex;
    flex-direction: column;
    position: relative;
    align-content: space-between;
    width: 100%;
  }

  .signAndLogo .q2Logo {
    margin-top: 1em;
  }

  .signAndLogo {
    width: 100%;
    position: relative;
  }

  .signAndLogo .homeRose {
    width: 100%;
    height: inherit;
    position: absolute;
    z-index: 0;
    display: inline;
  }
 
  header .signAndLogo, 
  header .signAndLogo .signBtns, 
  .container-fluid .navBtns, .nav nav, .nav nav div {
    flex-direction: column;
    height: initial;
    width: 100%;
  }

  header .signAndLogo .signBtns, 
  .container-fluid .navBtns, .nav nav div {
    align-items: center;
    z-index: 1;
    width: initial;
  }

  header .signAndLogo .signBtns button {
    margin: 0.15em;
  }

  .nav nav div ul button {
    text-align: center;
    font-size: 0.85em;
    margin: 0.25em;
  }

  .nav nav, .gothicLine {
    width: 100%;
  }

  #aboutUs, #contactUs {
    visibility: hidden;
  }

  body .container .aboutUs {
    margin-left: initial;
    width: 100%;
  }

  footer .footer, 
  .container .itemCardSlide, 
  .itemCardSlide .itemCards,
  body .container .aboutUs .aboutUsImg, .H {
    flex-direction: column;
    align-items: center;
  }
  .aboutUsImg img {
    width: 15em;
    height: 15em;
  }
  
  footer .footer {
    height: initial;
  }
}

